<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>HCL – Human Centric Language</title>
    
      <link rel="stylesheet" href="./style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <header class="site-header">
      <nav class="navbar">
        <div class="nav-left">
          <a href="index.html" class="logo">HCL</a>
        </div>

        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="guide.html">Guide</a></li>
          <li><a href="#examples">Examples</a></li>
          <li><a href="#conversion">Code Conversion</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </nav>
    </header> -->

    <header class="navbar">
      <div class="nav-left">
        <div class="logo">HCL</div>
        <span class="brand">Human Centric Language</span>
      </div>

      <nav class="nav-links">
        <a href="index.html" class="active">Home</a>
        <a href="guide.html">Guide</a>
      </nav>

      <a href="../executables/human_centric_programming_language_version_V.0.0.1.exe" download class="btn-link" title="Download HCL Compiler (.exe)">
          <button class="btn-primary">
            Download
          </button>
        </a>
    </header>
</body>
</html>
